@import "tailwindcss";
@plugin "@tailwindcss/typography";
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-calistoga: var(--font-calistoga);
  --font-pt: var(--font-pt-serif);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

@keyframes brainPulse {
  0% {
    transform: translateY(0%);
    transform: scale(90%);
  }
  50% {
    transform: translateY(-10%);
    transform: scale(105%);
  }
  100% {
    transform: translateY(0%);
    transform: scale(90%);
  }
}

.brain {
  animation: brainPulse 7s infinite forwards;
}
