@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

@keyframes brainPulse {
  0% {
    transform: translateY(0%);
    transform: scale(90%);
  }
  50% {
    transform: translateY(-10%);
    transform: scale(105%);
  }
  100% {
    transform: translateY(0%);
    transform: scale(90%);
  }
}

.brain {
  animation: brainPulse 7s infinite forwards;
}
